@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,500;1,500&display=swap');

body{
    background-color: rgb(0, 0, 0);
    font-family: "Alegreya Sans SC", sans-serif;
    color: white;
}

.corner-cover {
    z-index: 1;
    content: "";
    background-color: #011f0d;
    position: fixed;
    top: 0;
    left: -6em;
    height: 10em;
    width: 10em;
    transform: skewX(-45deg);
}

.ham-image {
    position:   fixed;
    left:       1em;
    top:        1em;
    width:      2em;
    height:     2em;
    z-index:    10;
}

.start-skew-decoration {
    position:   fixed;
    top:        4.75em;
    left:       -11em;
    z-index:    10;
}

.start-skew-decoration div {
    transform:  rotate(-45deg);
}

.start-skew-decoration div img {
    width:      100%;
    height:     auto;
    transform:  skewX(45deg);
}

.hide-mobile {
    display:    none;
}

.mobile-title {
    content:    none;
    position:   absolute;
    background: #054108;
    top:        0;
    left:       3em;
    height:     8em;
    width:      110%;
    z-index:    9;
}

.mobile-title-outline {
    content:    none;
    position:   fixed;
    background: #00a008;
    top:        0;
    left:       5em;
    height:     8.1em;
    width:      110%;
    z-index:    8;
    transform:  skewX(-45deg);
}

.mobile-text {
    background: none;
    position: fixed;
    text-align: right;
    height: 7em;
    right: 5%;
    width: 70%;
    z-index: 11;
    letter-spacing: 0.01em;
    color: #00ff00;
    font-style: italic;
}

.mobile-text .title-text {
    position: relative;
    top: -0.5em;
    font-size: 2.5em;
}

.mobile-text .subtitle-text {
    position: relative;
    top: -2em;
}